*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;    
}
body{
    padding: 10px;
    
}
main{
    border: 1px solid;
    width: 100%;
    height: 100%;
}
.contenedor{
    display: grid;
    grid-template-areas: 
    'titulo titulo titulo'
    'parte1 parte1 termometro'
    'parte2 parte2 termometro';
    height: 100%;
    grid-template-rows: 1fr repeat(2, 2fr);
    grid-template-columns: 2fr 2fr 1fr;
    
}
.contenedor__titulo{
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;

}
.parte1{
    grid-area: parte1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.options{
    text-align: center;
}
input[type=text]{
    width: 40%;
    height: 30%;
    font-size: 30px;
    text-align: center;
}
.parte2{
    grid-area: parte2;
    display: grid;
    justify-items: center;
    
}
.parte3{
    grid-area: termometro;
    display: grid;
    justify-items: center;
    align-items: center;
}
.resultado{
    width: 50px;
    height: 50px;
    border: 1px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton{
    width: 150px;
    height: 50px;
    border: 1px solid ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.termometro{
    height: 100px;
    width: 30px;
    border: 1px solid ;
    transform: rotate(180deg);
}
.termometro__mercurio{
    height: 100%;
    width: 100%;
    background-color: red;
}