*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100vh;    
}
body{
    padding: 10px;
    background-color: #2998D6;
    
}
main{
    border: none;
    width: 60%;
    height: 70vh;
    margin: 15vh auto;
    background-color: #F2F8F7;
    border-radius: 15px;
}
.contenedor{
    display: grid;
    grid-template-areas: 
    'titulo titulo titulo'
    'parte1 parte1 termometro'
    'parte2 parte2 termometro';
    height: 100%;
    grid-template-rows: 1fr repeat(2, 2fr);
    grid-template-columns: 2fr 2fr 1fr;
}
.contenedor__titulo{
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2998D6;
}
.parte1{
    grid-area: parte1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.options{
    text-align: center;
}
input[type=text]{
    width: 40%;
    height: 30%;
    font-size: 30px;
    text-align: center;
    border: 2px solid #2998D6;
    border-radius: 15px;
}
.parte2{
    grid-area: parte2;
    display: grid;
    justify-items: center;
    
}
.parte3{
    grid-area: termometro;
    display: grid;
    justify-items: center;
    align-items: center;
}
.resultado{
    width: 12%;
    height: 50%;
    border: 3px solid #7FC6F3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton{
    width: 25%;
    height: 60%;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.37);
    background-color: #928992;
    font-size: x-large;
}
.termometro{
    height: 70%;
    width: 30%;
    border: 1px solid #928992;
    transform: rotate(180deg);
    border-radius: 2px;
}
.termometro__mercurio{
    height: 100%;
    width: 100%;
    border-radius: 2px;
    background-color: red;
}